<!DOCTYPE html>
<html>
<head>
	{% load static  %}
	{% load crispy_forms_tags %}
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="">
	<link rel="stylesheet" href="{% static "css/font-awesome.min.css" %} ">
	<link rel="stylesheet" href="{% static "css/bootstrap.css" %} ">
</head>
<body>	
	<div class="container">
    <div class="row">
      <div class="col-md-6 offset-3">
       <form  method="post" >
		{% csrf_token %}
		{% for key,value in form.errors.items %}
			{{value}}
		{% endfor %}
		 <form action="/action_page.php">
		<div class="form-group">
			{{form.username|as_crispy_field }}
		</div>
		<div class="form-group">
			{{form.password|as_crispy_field }}
		</div>		
		<input type="hidden" name="next" value="/">
		<input type="submit" class="btn btn-success" value="Dang Nhap">
		</form> 		
      </div>
    </div>
  </div>
</body>
</html>