{% extends "home/base_view.html" %}
{% load static %}
{% block post_view %}

<div class="single-post-wrap">
	<div class="feature-img-thumb relative">
		<div class="overlay overlay-bg"></div>
		<img class="img-fluid" src="{{post.image.url}}" alt="anh">
	</div>

	<div class="content-wrap">
		<ul class="tags mt-10">
			<li><a href="#">{{post.posttype}}</a></li>
		</ul>
		<a href="#">
			<h3>{{post.title}}</h3>
		</a>
		<ul class="meta pb-20">
			<li><a href="#"><span class="lnr lnr-user"></span>{{user.username}}</a></li>
			<li><a href="#"><span class="lnr lnr-calendar-full"></span>{{post.date}}</a></li>
			
		</ul>
		<p>{{post.body}}</p>
		<div class="comment-sec-area">
			<div class="container">
				<div class="row flex-column">					
					{% for cmt in post.comments.all %}					
					<div class="comment-list">
						<div class="single-comment justify-content-between d-flex">
							<div class="user justify-content-between d-flex">								
								<div class="desc">
									<h5><a href="#">{{cmt.author}}</a></h5>
									<p class="date">{{cmt.date}}</p>
									<p class="comment">{{cmt.body}}</p>																			
								</div>
							</div>						
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
{% if user.is_authenticated %}
	<div class="comment-form">
		<h4>Post Comment</h4>
		<form action="{% url 'view' post.id %}" method="post">
			<div class="form-group">
				{% csrf_token %}
				{{form.body}}
			</div>
			<input type="submit" class="primary-btn text-uppercase" value="Post Comment">
		</form>
	</div>
	{% endif %}
</div>
	
{% endblock post_view %}